<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekly Tasks</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body {
        color: #404e67;
        font-family: "Open Sans", sans-serif;
      }
      .light-blue-background {
        background-color: #edf6f9; /* Light blue background */
      }
      .light-yellow-background {
        background-color: #fff9db; /* Light yellow background */
      }
      .light-green-background {
        background-color: #e8f8e4; /* Light green background */
      }
      .light-grey-background {
        background-color: #f5f5f5; /* Light grey background */
      }
      .search-section {
        background-color: #ffffff; /* White background for search section */
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
      }
      .task-table {
        padding: 20px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body class="light-grey-background">
    <nav class="navbar navbar-icon-top navbar-expand-xl navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><b>PLAN.IT</b></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'index'%}">
              <i class="fa fa-home"></i>
              Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'all_tasks'%}">
              <i class="fa fa-tasks"> </i>
              AllTask
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={%url 'completed'%}>
              <i class="fa fa-arrow-circle-right"> </i>
              Completed
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={%url 'week'%}>
              <i class="fa fa-envelope-o"> </i>
              Weekly
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={%url 'month'%}>
              <i class="fa fa-calendar-o"> </i>
              Monthly
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={%url 'teamdash'%}>
                  <i class="fa-solid fa-user-group"></i>
                  Team Dashboard
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href={%url 'user'%}>
              <i class="fa fa-user"> </i>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={%url 'team'%}>
              <i class="fa-solid fa-people-group"></i>
              Teams
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="fa fa-sign-out"> </i>
              Sign Out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="light-grey-background">
      <br /><br />
      <div style="font-size: 34px; font-weight: bold; text-align: center">
        Weekly Tasks
      </div>

      <div class="container pt-4">
        <div class="row p-0 mt-4">
          <div class="col">
            <div class="border task-table light-yellow-background">
              <div
                class="input-group mb-3 search-section light-blue-background"
              >
                <input
                  type="text"
                  id="searchInput"
                  class="form-control"
                  placeholder="Search by task title"
                  aria-label="Search by task title"
                  aria-describedby="searchButton"
                />
              </div>
              {% if weekly_tasks %}
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Priority</th>
                  </tr>
                </thead>
                <tbody id="taskTableBody">
                  {% for task in weekly_tasks %} {% if task.status %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ task.task_name }}</td>
                    <td>🕒 - pending</td>
                    <td>{{ task.priority }}</td>
                  </tr>
                  {% endif %} {% endfor %}
                </tbody>
              </table>
              {% else %}
              <div class="p-4">
                <br />
                <br />
                <div class="alert alert-info text-center">
                  <p class="" style="font-size: 30px">No Weekly Tasks</p>
                </div>
                <br />
                <br />
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
          var searchText = $(this).val().toLowerCase();
          $("#taskTableBody tr").filter(function () {
            $(this).toggle(
              $(this).text().toLowerCase().indexOf(searchText) > -1
            );
          });
        });
      });
    </script>
  </body>
</html>
